<!-- Dashboard breadcrumb section -->
  <div class="section dashboard-breadcrumb-section bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h2>Edit Post</h2>
          <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="dashboard.html">Dashboard</a></li>
            <li class="active">Edit Post</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <!-- DASHBOARD ORDERS SECTION -->
  <section class="clearfix bg-dark listingSection" id="listing-add-edit">
  	<div class="container">
  		<div class="row">
  			<div class="col-xs-12">
          <%= render 'form', article: @article %>
  			</div>
  		</div>
  	</div>
  </section>
