<% if user_signed_in? %>
	<li class=" dropdown singleDrop">
		<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">users <i class="fa fa-angle-down" aria-hidden="true"></i></a>
		<ul class="dropdown-menu">
		  <li><a href="dashboard.html">Profile</a></li>
		  <li><a href="add-listings.html">Edit User</a></li>
		</ul>
	</li>
<% else %>
	<li><%= link_to "Login", new_user_session_path %></li>
	<li><%= link_to "Register", new_user_registration_path %></li>
<% end %>



